<?xml version="1.0"?>
<launch>
	
	<!-- send youbot urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/>

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
	
</launch>
